.heading {
    color: red !important;
}

.img-style{
    width: 200px;
}

.profile{
    width: 200px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px 1px #ddd;
    padding: 10px;
    margin: 10px;   
}

.text-wrap{
    padding: 10px;
}